<div id="quick_access">
    <p>{% trans %}Go to :{% endtrans %}</p>
    <ul>
        <li>
            <a href="#wrapper" target="_self" tabindex="1">{% trans %}content{% endtrans %}</a>
        </li>
        <li>
            <a href="#footer" target="_self" tabindex="1">{% trans %}footer{% endtrans %}</a>
        </li>
    </ul>
</div>