<span id="accessibility_trigger" tabindex="2">
	<span class="button_icon">
		<i class="webfont webfont-accessibility"></i>
	</span>
	<span class="button_text">{% trans %}Accessibility{% endtrans %}</span>
</span>