@use '../../abstracts/abstracts' as *;

#header_accessibility {
    position: fixed;
    z-index: 11;
    top: var(--toolbarOffset);
    left: 0;
    right: 0;
    max-height: calc(100dvh - var(--toolbarOffset));
    overflow: auto;
    background: $primaryMain;
    color: $neutral5;

    &:not(.accessibility_active) {
        transform: translateY(-100%);
        pointer-events: none;
        opacity: 0;
    }

    &.transitionning {
        @include transition($transition);
    }
}